<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="messages" class="java.util.ArrayList">
		<constructor-arg>
			<list>
           	<bean class="org.mmpp.twitter.plugin.incubator.TweatMessagingService" >
           		<constructor-arg value="qbay-message.properies" />
           		<property name="messagePostfix" value="(キュゥべえ)" />
           	</bean>
				<!--
 				<bean class="org.mmpp.twitter.TweatIntaractiveSerciceImpl">
           		<property name="tweatReaderable" ref="readerImp" />
				</bean> 
				-->
			</list>
		</constructor-arg>
	</bean>	
	<bean id="tweats" class="java.util.ArrayList">
		<constructor-arg>
			<list>
           	<bean class="org.mmpp.twitter.api.sample.StandardOutputTweatService" />
<!--
            	<bean class="org.mmpp.twitter.api.TwitterImpl" />
 -->
 			</list>
		</constructor-arg>
	</bean>
	<!-- <bean id="readerImp" class="org.mmpp.twitter.TweatReaderImpl" /> -->
</beans>
